@model BookingServices.ViewModel.OfflineCustomer

@{
    ViewData["Title"] = "Register Offline Customer";
    Layout = "~/Views/Shared/_LayoutProvider.cshtml";
}
<h1 class="text-center head-color">Add Offline Customer</h1>
<div class="container mt-5">
    <div class="card">
        <div class="card-body mt-2">
            @if (TempData["Message"] != null)
            {
                var messageType = TempData["MessageType"]?.ToString();
                <div id="alertMessage" class="alert @(messageType == "success" ? "alert-success" : "alert-danger")">
                    @TempData["Message"]
                </div>
            }

            <form asp-action="Register" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="City" class="form-label">City</label>
                            <select id="City" class="form-select">
                                <option value="">All Cities</option>
                                @foreach (var location in ViewBag.Locations as List<string>)
                                {
                                    <option value="@location">@location</option>
                                }
                            </select>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Phone" class="form-label">Phone</label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AlternativePhone" class="form-label">Alternative Phone</label>
                            <input asp-for="AlternativePhone" class="form-control" />
                            <span asp-validation-for="AlternativePhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SSN" class="form-label">SSN</label>
                            <input asp-for="SSN" class="form-control" />
                            <span asp-validation-for="SSN" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-primary mt-3">Add</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        window.setTimeout(function () {
            var alertMessage = document.getElementById('alertMessage');
            if (alertMessage) {
                alertMessage.style.display = 'none';
            }
        }, 3000);
    </script>
}
