@model IEnumerable<BookingServices.Models.CustomerData>

@{
	ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 class="mt-3">Customers</h1>

 <div id="customerListContainer">
     @Html.Partial("CustomerList", Model) 
</div> 


