@model IEnumerable<BookingServices.Models.CustomerData>

@{
	ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/StyleCustom/StyleList.css" />
<h1 class="text-center head-color">Customers</h1>

 <div id="customerListContainer">
     @Html.Partial("CustomerList", Model) 
</div> 


