@model BookingServices.Data.Service

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea asp-for="Details" class="form-control"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                @* <input asp-for="Location" class="form-control" /> *@
                <select asp-for="Location" class="form-control" asp-items="ViewBag.Location"></select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" type="time" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" type="time" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialPaymentPercentage" class="control-label"></label>
                <input asp-for="InitialPaymentPercentage" class="form-control" />
                <span asp-validation-for="InitialPaymentPercentage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOnlineOrOffline" /> @Html.DisplayNameFor(model => model.IsOnlineOrOffline)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRequestedOrNot" /> @Html.DisplayNameFor(model => model.IsRequestedOrNot)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BaseServiceId" class="control-label"></label>
                <select asp-for="BaseServiceId" class ="form-control" asp-items="ViewBag.BaseServiceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProviderContractId" class="control-label"></label>
                <select asp-for="ProviderContractId" class ="form-control" asp-items="ViewBag.ProviderContractId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdminContractId" class="control-label"></label>
                <select asp-for="AdminContractId" class ="form-control" asp-items="ViewBag.AdminContractId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                <select asp-for="ProviderId" class ="form-control" asp-items="ViewBag.ProviderId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
