<mat-form-field appearance="outline" class="w-100">
    <input matInput (keyup)="applyFilter($event.target)" placeholder="Filter properties" autocomplete="off">
</mat-form-field>
<div class="table-wrapper"> 
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
    
        <!-- Num Of Bookings Column -->
        <ng-container matColumnDef="bookNum"> 
          <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th> 
          <td mat-cell *matCellDef="let property; let i = index">
            {{ i + 1 }}  <!-- Displaying book number as index + 1 -->
          </td>
        </ng-container> 
  
        <!-- Image Column -->
        <ng-container matColumnDef="serviceImage">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let property"><img [src]="property.service.images[0] ? 
          'http://localhost:30480' + property.service.images[0] : 'images/bookingService/notFound.jpeg'"  
            [style.width.px]="100" class="d-block" alt="Service Image Not Found"></td>
        </ng-container> 
    
        <!-- serviceName Column -->
        <ng-container matColumnDef="serviceName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Name </th>
          <td mat-cell *matCellDef="let property"><a [routerLink]="['/properties', property.service.id ]" class="property-name">{{property.service.name}}</a></td>
        </ng-container> 
  
        <!-- bookDate Column -->
        <ng-container matColumnDef="bookDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Date </th>
          <td mat-cell *matCellDef="let property"> {{property.bookDate | date:"dd MMMM, yyyy"}} </td>
        </ng-container> 
  
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let property"> {{property.status}} </td>
        </ng-container> 

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let property"> {{property.price}} </td>
        </ng-container> 
  
        <!-- moreDetails Column -->
        <ng-container matColumnDef="moreDetails">
          <th mat-header-cell *matHeaderCellDef> More Details </th>
          <td mat-cell *matCellDef="let property">  
              <a [routerLink]="['/account/my-properties', property.id]"mat-icon-button color="primary" matTooltip="Edit property">
                  <mat-icon>edit</mat-icon>
              </a>
          </td>
        </ng-container> 
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let property; columns: displayedColumns;"></tr>
    </table> 
    @if (!dataSource?.data.length ) {
        <p class="py-5 mb-0 text-center">No data available</p> 
    }   
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>