
<div class="container mt-5">
    <h2>Your Reviews</h2>
    
    <div class="list-group mb-4">
        <div class="list-group-item">
            <h5 class="mb-1">Yours</h5>
            <p class="mb-1">{{review.customerComment}}</p>
            <small>Posted on: {{review.customerCommentDate}}</small>
            <hr>
            @if(review.providerReplayComment != null){
                <h6>Reply:</h6>
                <p class="mb-1">{{review.providerReplayComment}}</p>
                <small>Posted on: {{review.providerReplayCommentDate}}</small>}
            </div>
        
            
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
