@model BookingServices.ViewModels.ProviderRegisterViewModel

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/StyleCustom/StyleCreateForm.css"/>
<link href="~/css/customlogin.css" rel="stylesheet" />
<section class="background-radial-gradient overflow-hidden">
    <style>
        .head-color {
            color: #012970;
            font-weight: bold;
        }
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow-x: hidden;
        }

        .background-radial-gradient {
            min-height: 100vh;
            width: 100vw;
            background-color: hsl(218, 41%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
        }

        #radius-shape-1 {
            height: 300px;
            width: 300px;
            top: -100px;
            left: -150px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        #radius-shape-2 {
            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
            bottom: -100px;
            right: -150px;
            width: 400px;
            height: 400px;
            background: radial-gradient(#44006b, #ad1fff);
            overflow: hidden;
        }

        .bg-glass {
            position: relative;
            z-index: 10;
        }

        .container {
            height: 100vh;
            padding: 0;
            margin: 0;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        form {
            margin-bottom: 0;
        }
    </style>

    <div class="container pb-5 px-4 py-5 px-md-5 text-center text-lg-start mb-3 mt-4">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Lily Night <br />
                    <span style="color: hsl(218, 81%, 75%)">For Your Special Occasions</span>
                </h1>
            </div>

            <div class="col-lg-6 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong mt-5"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card-body bg-glass px-4 py-5 px-md-5">

                        <form class="p-5 form-container" asp-action="Create">

                        @* Display Success or Error Messages *@
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                @TempData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong></strong> @TempData["ErrorMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating input-group-lg mb-3 mt-3">
                                <input asp-for="ProviderName" class="form-control" autocomplete="ProviderName" aria-required="true" placeholder="Your name" />
                                <label asp-for="ProviderName">Name</label>
                                <span asp-validation-for="ProviderName" class="text-danger"></span>
                            </div>

                            <div class="form-floating input-group-lg mb-3">
                                <input asp-for="ProviderEmail" class="form-control" autocomplete="ProviderEmail" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="ProviderEmail">Email</label>
                                <span asp-validation-for="ProviderEmail" class="text-danger"></span>
                            </div>
      
                            <div class="form-floating input-group-lg mb-3">
                                <input asp-for="ProviderPhoneNumber" class="form-control" autocomplete="ProviderPhoneNumber" aria-required="true" placeholder="" />
                                <label asp-for="ProviderPhoneNumber">Phone Number</label>
                                <span asp-validation-for="ProviderPhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-floating input-group-lg mb-3">
                                <textarea asp-for="ServiceDetails" class="form-control" style="height: 150px; resize: none;" autocomplete="ServiceDetails" aria-required="true" placeholder=""></textarea>
                                <label asp-for="ServiceDetails">Service Details</label>
                                <span asp-validation-for="ServiceDetails" class="text-danger"></span>
                            </div>
      
                        <div class="d-flex justify-content-between mt-4">
                            <input type="submit" value="Submit" class="btn btn-primary w-100" />
                        </div>
                        <div class="mt-3">
                            <a href="/Identity/Account/Login" class="btn btn-outline-secondary btn-lg  w-100">Back</a>
                        </div>
                    </form>
                    </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/AdminNotification").build();

    connection.start().then(function () {
    }).catch(function (err) {
        return console.error(err.toString());
    });
</script>