@model BookingServices.Data.AdminContract

<div class="container">
    <h5 class="text-primary">Contract Details</h5>
    <dl class="row">
        <dt class="col-sm-4">Contract Name:</dt>
        <dd class="col-sm-8">@Model.ContractName</dd>

        <dt class="col-sm-4">Contract Description:</dt>
        <dd class="col-sm-8">@Model.Details</dd>
    </dl>
</div>
