@model IEnumerable<BookingServices.Data.AdminContract>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/StyleCustom/StyleList.css" />
<h1 class="text-center head-color">Contracts</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New Contract</a>
</p>
<div class="table-responsive">
<table class="table" id="myTable">
    <thead>
        <tr>
                <th class="col-1">Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td class="col-1">
                        @Html.DisplayFor(modelItem => item.ContractName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ContractId" class="btn btn-outline-primary" title="Edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        @{
                            if (item.IsBlocked ?? false)
                            {
                                <a asp-action="Delete" asp-route-id="@item.ContractId" class="btn btn-outline-success me-2"><i class="fa-solid fa-unlock"></i></a>
                            }
                            else
                            {
                                <a asp-action="Delete" asp-route-id="@item.ContractId" class="btn btn-outline-danger me-2"><i class="fa-solid fa-trash-can"></i></a>
                            }
                        }
                    </td>
                </tr>
        }
    </tbody>
</table>
</div>
<script src="~/js/datatablesjs.js"></script>