@model IEnumerable<BookingServices.Data.AdminContract>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/StyleCustom/StyleList.css" />
<h1 class="text-center head-color">Contracts</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New Contract</a>
</p>
<div class="table-responsive">
<table class="table" id="myTable">
    <thead>
        <tr>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.ContractName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContractName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ContractId" class="btn btn-outline-primary" title="Edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.ContractId" class="btn btn-outline-danger">
                            @{
                                if (item.IsBlocked ?? false)
                                {
                                    <div>Un Block</div>
                                }
                                else
                                {
                                    <div> Block </div>
                                }
                            }
                        
                        </a>
                    </td>
                </tr>
        }
    </tbody>
</table>
</div>
<script src="~/js/datatablesjs.js"></script>