td, th {
    vertical-align: middle;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;

}

tr th {
    background-color: #e7effd !important;
    color: #475569 !important
}

a i {
    text-align: center;
}
