td, th {
    vertical-align: middle;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;

}

tr th {
    background-color: #e7effd !important;
    color: #475569 !important
}

a i {
    text-align: center;
    font-size: 25px
}

.customWidth {
    max-width: 200px;
}

@media (max-width: 600px) {
    .table-container {
        overflow-x: auto;
    }

    table {
        width: 600px;
    }
}
