<span fxLayoutAlign="center center" class="item">
    <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize"
        >call</mat-icon
    >
    <span class="px-1">(+966) 594249640</span>
</span>
@if (dividers) {
<span class="v-divider"></span>
}
<span fxLayoutAlign="center center" class="item">
    <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize"
        >location_on</mat-icon
    >
    <span class="px-1">Saudi Arabia</span>
</span>
@if (dividers) {
<span class="v-divider"></span>
}
<span fxLayoutAlign="center center" class="item">
    <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize"
        >mail</mat-icon
    >
    <span class="px-1">lily.night&#64;gmail.com</span>
</span>
