<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Our Services</h1>

            <div fxLayout="row wrap" class="services-wrapper">
                <div
                    fxFlex="100"
                    fxFlex.gt-md="25"
                    fxFlex.gt-sm="50"
                    class="p-2"
                >
                    <mat-card
                        fxLayout="column"
                        fxLayoutAlign="start center"
                        class="h-100 w-100 text-center p-3"
                    >
                        <mat-icon class="mat-icon-xlg" color="primary"
                            >location_on</mat-icon
                        >
                        <h2 class="capitalize fw-600 my-3">
                            Find places anywhere in the Your Country
                        </h2>
                        <p>
                            Ease of searching and finding places near you for
                            your event, whatever it may be.
                        </p>
                    </mat-card>
                </div>
                <div
                    fxFlex="100"
                    fxFlex.gt-md="25"
                    fxFlex.gt-sm="50"
                    class="p-2"
                >
                    <mat-card
                        fxLayout="column"
                        fxLayoutAlign="start center"
                        class="h-100 w-100 text-center p-3"
                    >
                        <mat-icon class="mat-icon-xlg" color="primary"
                            >supervisor_account</mat-icon
                        >
                        <h2 class="capitalize fw-600 my-3">
                            We have Providers with experience
                        </h2>
                        <p>
                            Our service providers are constantly evolving to
                            provide you with the best places and services.
                        </p>
                    </mat-card>
                </div>
                <div
                    fxFlex="100"
                    fxFlex.gt-md="25"
                    fxFlex.gt-sm="50"
                    class="p-2"
                >
                    <mat-card
                        fxLayout="column"
                        fxLayoutAlign="start center"
                        class="h-100 w-100 text-center p-3"
                    >
                        <mat-icon class="mat-icon-xlg" color="primary"
                            >home</mat-icon
                        >
                        <h2 class="capitalize fw-600 my-3">
                            Book the best places
                        </h2>
                        <p>
                            You can book the best and most beautiful places
                            where you want to hold your event.
                        </p>
                    </mat-card>
                </div>
                <div
                    fxFlex="100"
                    fxFlex.gt-md="25"
                    fxFlex.gt-sm="50"
                    class="p-2"
                >
                    <mat-card
                        fxLayout="column"
                        fxLayoutAlign="start center"
                        class="h-100 w-100 text-center p-3"
                    >
                        <mat-icon class="mat-icon-xlg" color="primary"
                            >format_list_bulleted</mat-icon
                        >
                        <h2 class="capitalize fw-600 my-3">
                            With service providers you can find many places.
                        </h2>
                        <p>
                            Our service providers provide more than one location
                            to make it easier for you to find the best places to
                            hold your event.
                        </p>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
